html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color : #555555;
}
*:focus {
  outline: 0;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
h1 {
  font-size:32px;
  margin-bottom:10px;
}
h2 {
  font-size:22px;
}
h3 {
  font-size:18px;
  margin-bottom:5px;
}
.scales-title {
  display:inline;
}
.scale {
  padding:20px;
}
.scale .head {
  position:fixed;
  padding:20px 0 10px 0;
  top:0;
  right:20px;
  left:20px;
  background:#FFFFFF;
  border-bottom:1px solid rgba(94,63,58,1);
  z-index: 10;
}
button {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
  background:#E5FFFE;
  cursor:pointer;
  border:none;
  padding:8px 10px;
}
button:hover {
  cursor:pointer;
  border:none;
  background:#C6FFFE;
}
.scale ul.fret-board {
  width:100%;
  height:100px;
  margin:30px 0;
}
.scale .fret-board li {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  display:inline-table;
  border-right:1px solid rgba(94,63,58,1);
  width:7.8%;
  height:100%;
  font-size:20px;
}
.scale .fret-board li .interval{
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
  height:100%;
  width:100%;
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}
.scale .fret-board li:hover {
  background:#E5FFFE;
  cursor: pointer;
}
.scale .fret-board li:hover .interval{
  color : #000000;
}
.scale .fret-board li.selected .interval {
  color : #000000;
}
.scale .fret-board .highlight {
  background:#E5FFFE;
}
.scale .fret-board .selected {
  background:#C6FFFE;
}
.results {
  position:absolute;
  top:290px;
  right:20px;
  left:20px;
  z-index:0;
}
.results li.result {
  padding:8px 0 8px 8px;
  border-bottom:1px solid #F4FFFF;
  cursor:pointer;
}
.results li.result:nth-child(even) {
  background:#F4FFFF;
}
.results li.result:hover {
  background:#E5FFFE;
}
.results ul {
  content:"";
  display:table;
  clear:both;
}
.results ul li {
  float:left;
  margin-right:5px;
}